body {
    margin: 0;  
}      
.cab {
    width: 419.09px;
    height: 963px;
    text-align: center;
    background-color: #ecececb3;
    position: fixed;
}

.img_red {
    width: 160px;
    height: 160px;
    border: solid 1px white;
    border-radius: 220px;
    
}
.cab div {
    padding-top: 4em;
}

.ul_cab {
    list-style: none;
}

.menu {
    padding-top: 1.2em;
    margin-left: -3em;
    font-weight: 800;
    font-size: 1em;
    color: #000000B3;
}




.menu a {
    text-decoration: none;
    color: #000000B3;
    font-family: "Montserrat", Arial, sans-serif;
}
#h {
    color: black;
    text-decoration: underline;
}
.menu a:hover {
    color: black;
    text-decoration: underline;
}

.cab div h3 {
    color: #000000CC;
    font-weight: 700;
    margin-top: 14em;
    font-family: "Poppins", Arial, sans-serif;
}

.email {
    padding-top: 1em;
    padding-bottom: 0.5em;
    padding-left: 1em;
}

.img_lat {
    margin-left: 22%;
    margin-top: 0vh;
    height: 1000px;
}

.lat_img {
    margin-left: 60%;
    margin-top: -80vh;
}

.opc {
    margin-left: -7.5%;
    margin-top: -10vh;
    color: #00000013;
    font-size: 5em;   
}

.hello {
    font-size: 1.5em;
    color: #00000081;
    position: absolute;
    top: 28vh
}

.tt_lat {
    font-size: 3em;

}

.spt {
    color: #CCB78F;
}

.p_lat {
    color: #00000081;
    font-size: 1.5em;
}

.ass {
    font-family: "Herr Von Muellerhoff", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 2.5em;
}

.redes {
    padding-left: 1em;
    width: 30px;
}

.imgs {

    width: 193px;
    height: 200px;
    object-fit: cover;
}


.cole {
    margin-left: 34%;
    margin-top: 33vh;
}

.pp {
 
    position: absolute;
    bottom: -6.6em;
    left: 52%;
    font-size: 18PX;
    font-weight: 600;
    color: #000000CC;
    font-family: "Poppins", Arial, sans-serif;
}

footer {
    margin-top: 5em;
    margin-left: 22%;
    height: 35vh;
    width: 78%;
    background-color: #242423;
    color: #ffffff;
    padding: 84px 0px;
    font-family: "Montserrat", Arial, sans-serif;
    display: flex;
}

.divdiv {
    margin-left: 12em;
    display: flex;
}

.im {
    width: 91px;
    height: 100px;
    object-fit: cover;

}

.mini_fotos {
    width: 300px;
}

.arch {
    margin-left: 10em;
}

.have {
    margin-left: 10em;
}

.arch ol li {
    list-style: none;
    margin-top: 2em;
    font-family: "Montserrat", Arial, sans-serif;
    color: #ffffff90;
}

.oll {
    margin-left: -2.5em;
}

hr {
    width: 290px;
    color: #3b3b3bc5;
}

.mm {
    padding-left: 8.7em;
}

.oct {
    padding-left: 10em;
}

.aug {
    padding-left: 10.3em;
}

.july {
    padding-left: 11.7em;
}

.have ol {
    list-style: none;

}

.have ol li {
    padding-top: 1em;
}

.have {
    text-align: center;
    position: absolute;
    right: 9em;
}

.copy {
    margin-left: -60%;
    margin-top: 40vh;
}